# Análise de dados - Forecast de Projetos

Analisar dados do relatório de Forecast de Projetos

Analisar:
1. Total de horas - ok
2. Total de horas de recursos genéricos - ok
3. Total de horas não confirmadas - ok

In [1]:
import pandas as pd
import numpy as np

In [2]:
#importar arquivo do forecast
df = pd.read_excel('forecast.xlsx')

In [3]:
#traz as colunas do Dataframe
df.axes

[RangeIndex(start=0, stop=1087, step=1),
 Index(['Emp.', 'FILIAL', 'Técnico', 'Nome do Técnico', 'Ordem Serviço',
        'Cliente', 'Loja', 'Nome do Cliente', 'Cod.Fornecedor',
        'Nome Fornecedor', 'CODSEG', 'DESSEG', 'Projeto', 'FRENTE',
        'Descrição do Projeto', 'Tipo Projeto', 'Desc.Tipo Projeto',
        'Cod. Un. (CFP)', 'Desc. Un. (CFP)', 'Un. (Responsavel)',
        'Desc. Un. (Responsavel)', 'INICIOCFP', 'STATUSCFP', 'COORDCFP',
        'NOMCOORDC', 'GPP Tecnico', 'Nome do GPP do Tecnico', 'Coord. Tecnico',
        'Nome do Coordenador do Tecnico', 'Tipo Serviço', 'Desc.Tipo Srv',
        'Celular', 'Cargo', 'Desc. Cargo', 'Data', 'GPP Projeto',
        'Nome GPP Projeto', 'Motivo do CFP', 'Desc. Motivo CFP',
        'Motivo Agenda', 'Desc. Motivo Agenda', 'Hr. Início', 'Hr. Final',
        'Hr. Traslado', 'Hr. Abatimento', 'Hr. Total', 'Hora Total (N)',
        'Status', 'Nome Solicitante', 'TPMOTIVO', 'Cod. Un. (Técnico)',
        'Desc. Un. (Técnico)', 'Cod. Un. (Agenda)', 'Status.1', 'Descricao',
        'Total', 'Proposta3os', 'VlrHr3os', 'ValorHora', 'Origem', 'Custo',
        'Status OS', 'Status PG', 'Venc.Real'],
       dtype='object')]

In [4]:
#traz volume de horas total 
np.sum(df['Hora Total (N)'])

7944.42

In [8]:
#Lista de recursos genéricos (100001 à 1000021)
genericos = []
for i in range(21):
    genericos.append(100001 + i)
print(genericos)

[100001, 100002, 100003, 100004, 100005, 100006, 100007, 100008, 100009, 100010, 100011, 100012, 100013, 100014, 100015, 100016, 100017, 100018, 100019, 100020, 100021]

In [9]:
dt_referencia = '2018-07-31'

In [10]:
#filtrar técnico genérico
generico_df = df.query('Técnico in @genericos').query('Data <= @dt_referencia')
#mostrar total de horas alocadas em recursos genéricos
generico_df.groupby('Nome do Técnico').agg('sum')['Hora Total (N)']

Nome do Técnico
GENERICO - ANALISTA I DE SERVIÇOS                                4.0
GENERICO - TERCEIRO                                             80.0
Name: Hora Total (N), dtype: float64

In [12]:
#listar recursos genéricos alocados.
generico_df[['Técnico', 'Nome do Técnico', 'Data', 'Projeto', 'Hora Total (N)']]

,Técnico,Nome do Técnico,Data,Projeto,Hora Total (N)
5,100021,GENERICO - TERCEIRO ...,2018-07-23,38195,8.0
6,100021,GENERICO - TERCEIRO ...,2018-07-24,38195,8.0
7,100021,GENERICO - TERCEIRO ...,2018-07-25,38195,8.0
8,100021,GENERICO - TERCEIRO ...,2018-07-26,38195,8.0
9,100021,GENERICO - TERCEIRO ...,2018-07-27,38195,8.0
10,100003,GENERICO - ANALISTA I DE SERVIÇOS ...,2018-07-31,38195,4.0
503,100021,GENERICO - TERCEIRO ...,2018-07-02,34783,8.0
505,100021,GENERICO - TERCEIRO ...,2018-07-03,34783,8.0
507,100021,GENERICO - TERCEIRO ...,2018-07-04,34783,8.0
509,100021,GENERICO - TERCEIRO ...,2018-07-05,34783,8.0
511,100021,GENERICO - TERCEIRO ...,2018-07-06,34783,8.0

In [13]:
#Definir período para totalização de horas por status
dt_inicial = '2018-07-01'
dt_final = '2018-07-31'
#Filtrar período
mes_df = df.query('Data >= @dt_inicial').query('Data <= @dt_final')

In [14]:
mes_df.groupby('Nome do Técnico').agg('sum')['Hora Total (N)']

Nome do Técnico
DIEGO GODOI DE SOUZA                                             12.0
EMERSON ROGER ZULIANI                                           149.5
FAUSTO DE ANDRADE ROSSITO                                        32.0
FILIPE BAPTISTELLA MAIA                                           7.0
GENERICO - ANALISTA I DE SERVIÇOS                                 4.0
GENERICO - TERCEIRO                                              80.0
JOAO LUIS GUIMARAES CRUZ                                         80.0
JOSE ALBERTO DA SILVA                                             6.0
LEONARDO RIZZO PIPOLO                                            16.0
RODRIGO AUGUSTO MARTINS                                          40.0
RODRIGO BREVIGLIERI                                              40.0
ROGERIO LUIZ VARANDA                                             80.0
Name: Hora Total (N), dtype: float64

In [15]:
np.sum(mes_df['Hora Total (N)'])

546.5

In [17]:
#Total por Status
mes_df.groupby('Status').agg('sum')['Hora Total (N)']

Status
OS AGENDADA        538.5
OS CONFIRMADA        8.0
Name: Hora Total (N), dtype: float64

# Verificar horas não confirmadas

In [18]:
#total de horas não confirmadas até a data de referencia
dt_referencia = '2018-06-30'
nao_conf_df = df[(df['Status'] == 'OS AGENDADA    ') & (df['Data'] <= dt_referencia)]

In [19]:
df1 = nao_conf_df.groupby('Nome do Técnico').agg('sum')['Hora Total (N)']

In [20]:
df1

Nome do Técnico
RODRIGO AUGUSTO MARTINS                                           8.0
ROGERIO LUIZ VARANDA                                            104.0
Name: Hora Total (N), dtype: float64

In [21]:
#Total não confirmado
print('Total de horas não confirmadas: {:.2f}'.format(np.sum(nao_conf_df['Hora Total (N)'])))

Total de horas não confirmadas: 112.00

In [22]:
df2 = nao_conf_df[['Técnico', 'Nome do Técnico', 'Data', 'Projeto', 'Hora Total (N)']].sort_values(by=['Nome do Técnico', 'Data'])

In [23]:
df2

,Técnico,Nome do Técnico,Data,Projeto,Hora Total (N)
144,411496,RODRIGO AUGUSTO MARTINS ...,2018-06-14,36121,8.0
886,303793,ROGERIO LUIZ VARANDA ...,2018-05-09,24559,8.0
887,303793,ROGERIO LUIZ VARANDA ...,2018-05-10,24559,8.0
888,303793,ROGERIO LUIZ VARANDA ...,2018-05-11,24559,8.0
889,303793,ROGERIO LUIZ VARANDA ...,2018-05-14,24559,8.0
890,303793,ROGERIO LUIZ VARANDA ...,2018-05-15,24559,8.0
891,303793,ROGERIO LUIZ VARANDA ...,2018-05-16,24559,8.0
892,303793,ROGERIO LUIZ VARANDA ...,2018-05-17,24559,8.0
893,303793,ROGERIO LUIZ VARANDA ...,2018-05-18,24559,8.0
894,303793,ROGERIO LUIZ VARANDA ...,2018-05-21,24559,8.0
895,303793,ROGERIO LUIZ VARANDA ...,2018-05-22,24559,8.0
896,303793,ROGERIO LUIZ VARANDA ...,2018-05-23,24559,8.0
897,303793,ROGERIO LUIZ VARANDA ...,2018-05-24,24559,8.0
898,303793,ROGERIO LUIZ VARANDA ...,2018-05-25,24559,8.0

In [24]:
#salvando resultados
df2.to_excel('voits.xlsx', sheet_name='nao_conf')